table, th, td  {
    border: 1px solid black;
    border-collapse: collapse
}

table {
    margin: 0px auto;
    text-align: center;

}

.name{
    text-align: left;
}

td {
    font-size: small
}

#NYR {
    color:blue;

}

.points{
    font-weight: bold;
}