<!DOCTYPE html>
<html>
<head>
    <title>NHL Standings</title>
    <link rel="stylesheet" type="text/css" href="nhl.css"/>
</head>
<body>
<table>
<tr>
    <th>Rank</th>
    <th>Logo</th>
    <th>Team</th>
    <th>Conf</th>
    <th>Div</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>OTL</th>
    <th>Points</th>
    <th>ROW</th>
    <th>GL</th>
    <th>P Elim</th>
</tr>
{% for item in standings %}
    <tr class='team' id="{{ item.team.short_name }}">
        <td>{{loop.index}}</td>
        <td><img src="{{item.team.sportsnet_logos.tiny}}"></td>
        <td class='name'>{{ item.team.medium_name }}</td>
        <td>{{ item.conference[0] }}</td>
        <td>{{ item.division[0] }}</td>
        <td>{{ item.games_played }}</td>
        <td>{{ item.wins }}</td>
        <td>{{ item.losses }}</td>
        <td>{{ item.overtime_losses }}</td>
        <td class="points">{{ item.points }}</td>
        <td>{{ item.regulation_plus_overtime_wins }}</td>
        <td>{{ item.gl }}</td>
        {% if item.max_p-maxi >= 0 %}
        <td> {{ item.max_p-maxi}}</td>
        {% else %}
        <td>--</td>
        {% endif %}

    </tr>
{% endfor %}
</table>
</body>
</html>