<!DOCTYPE html>
<html>
<head>
    <title>NHL Standings</title>
    <link rel="stylesheet" type="text/css" href="nhl.css"/>
</head>
<body>
<table>
<tr>
    <th>Team</th>
    <th>Conf</th>
    <th>Div</th>
    <th>GP</th>
    <th>W</th>
    <th>L</th>
    <th>OTL</th>
    <th>Points</th>
</tr>
{% for key, item in standings.iteritems() %}
    <tr class='team' id="{{ item.abrev }}">
        <td>{{ key }}</td>
        <td>{{ item.conf[0] }}</td>
        <td>{{ item.divi[0] }}</td>
        <td>{{ item.gp }}</td>
        <td>{{ item.w }}</td>
        <td>{{ item.l }}</td>
        <td>{{ item.otl }}</td>
        <td>{{ item.points }}</td>
    </tr>
{% endfor %}
</table>
</body>
</html>